#root {
  text-align: center;
  padding: 2rem;
  margin-inline: auto;
  max-width: 1280px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: 0.3s filter ease;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.67));
}

.react.logo:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.67));
}

@keyframes spinLogo {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  a:nth-child(2) .logo {
    animation-name: spinLogo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.card {
  padding-block: 2em;
  padding-inline: 2em;
}

.read-the-docs {
  color: rgb(136, 136, 136);
}
